{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset_form_block.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
    <script>
      // Este script asigna si una compra está sujeta a percepción de IVA, haciendo que la 
      // sessionStorage guarde el parametro del proveedor
      const $ = django.jQuery;
      $(function () {
          $('#id_proveedor').on('select2:select', function (evt) {
            sessionStorage.setItem("clasificacion_proveedor", evt.params.data.clasificacion);
          });
        });
    </script>
    <script>
      let compra = document.getElementById("id_compra_neta");
      let compraExcenta = document.getElementById("id_compra_excenta");
      let compraExcluida = document.getElementById("id_compra_excluida");
      function calcularTotales() {
        let compra = document.getElementById("id_compra_neta");
        let iva = document.getElementById("id_iva");
        iva.value = (parseFloat(compra.value) * 0.13).toFixed(2);
        let subTotal = document.getElementById("id_sub_total");
        subTotal.value = (parseFloat(compra.value) + parseFloat(iva.value)).toFixed(2);
        let percepcionIVA = document.getElementById("id_percepcion_iva");
        if (sessionStorage["clasificacion_proveedor"] == "G") {
          percepcionIVA.value = (parseFloat(compra.value) * 0.01).toFixed(2);
        } else {
          percepcionIVA.value = "0.00"
        }
        let total = document.getElementById("id_total");
        total.value = (
          parseFloat(compra.value) +
          parseFloat(iva.value) +
          parseFloat(compraExcenta.value) +
          parseFloat(compraExcluida) +
          parseFloat(percepcionIVA.value)
        ).toFixed(2);
      }
      compra.addEventListener("input", calcularTotales);
      compraExcenta.addEventListener("input", calcularTotales);
      compraExcluida.addEventListener("input", calcularTotales);

    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
