{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset_form_block.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
    <script>
      // document.getElementById("id_sucursal").dataset.empresa_id = "1";
      django.jQuery("#id_empresa").on("select2:select", function() {
        document.getElementById("id_sucursal").dataset.empresa_id = this.value;
      })
      'use strict';
      
      {
        const $ = django.jQuery;
        $.fn.djangoAdminSelect2 = function () {
          $.each(this, function (i, element) {
            $(element).select2({
              ajax: {
                data: (params) => {
                  return {
                    term: params.term,
                    page: params.page,
                    app_label: element.dataset.appLabel,
                    model_name: element.dataset.modelName,
                    field_name: element.dataset.fieldName,
                    empresa_id: element.dataset.empresa_id
                  };
                }
              }
            });
          });
          return this;
        };
      }
    </script>
    <script>
      // Script para que se autocomplete los campos "serie de documento" y "numero de documento"
      // basado en la empresa, la sucursal y el tipo de comprobante

      // Creo la función que hala desde API la serie del documento y el número de documento.
      // y las coloca en los datos de la compra.
      async function traerDocumento() {
        document.getElementById("id_serie_de_documento").value = "";
        document.getElementById("id_numero_de_resolucion").value = "";
        pk_empresa = document.getElementById("id_empresa").value;
        pk_sucursal = document.getElementById("id_sucursal").value;
        tipo_de_documento = document.getElementById("id_tipo_de_comprobante").value;
        url = `http://${window.location.host}/empresas/json_view_comprobante/${pk_empresa}/${pk_sucursal}/${tipo_de_documento}/`;
        let response = await fetch(url);
        let comprobante= await response.json();
        document.getElementById("id_serie_de_documento").value = comprobante["serie_de_documento"];
        document.getElementById("id_numero_de_resolucion").value = comprobante["numero_de_resolucion"];
      }

      django.jQuery("#id_sucursal").on("select2:select", traerDocumento);
      document.getElementById("id_tipo_de_comprobante").addEventListener("change", traerDocumento);
    </script>
    <script>
      // script para hacer que se calculen los campos de las ventas
        const ventasGravadasInput = document.getElementById('id_ventas_gravadas');
        const ventasNoSujetasInput = document.getElementById('id_ventas_no_sujetas');
        const ventasExentasInput = document.getElementById('id_ventas_exentas');
        const ivaRetenidoInput = document.getElementById('id_retencion_de_iva');
        const subTotalOutput = document.getElementById('id_sub_total');
        const totalOutput = document.getElementById('id_total');

        function calcularTotales() {
          const ventasGrabadas = parseFloat(ventasGravadasInput.value);
          const ventasSujetas = parseFloat(ventasNoSujetasInput.value);
          const ventasExentas = parseFloat(ventasExentasInput.value);
          const ivaRetenido = parseFloat(ivaRetenidoInput.value);

          const subTotal = ventasGrabadas + ventasSujetas + ventasExentas;
          subTotalOutput.value = subTotal.toFixed(2);

          const total = subTotal - ivaRetenido;
          totalOutput.value = total.toFixed(2);
        }

        ventasGravadasInput.addEventListener('input', calcularTotales);
        ventasNoSujetasInput.addEventListener('input', calcularTotales);
        ventasExentasInput.addEventListener('input', calcularTotales);
        ivaRetenidoInput.addEventListener('input', calcularTotales);
      </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
